<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--关联外部jdbc文件-->
    <!--<properties resource="jdbc.properties">
    </properties>-->
    <!--resultMap开关-->
    <settings>
        <!--<setting name="autoMappingBehavior" value="NONE"/>-->
        <!--延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <setting name="aggressiveLazyLoading" value="false"></setting>
        <setting name="cacheEnabled" value="true"></setting>
    </settings>
    <!--别名的第一种写法-->
    <!--<typeAliases>-->
        <!--<typeAlias type="entity.Book" alias="Book"></typeAlias>-->
    <!--</typeAliases>-->
    <!--别名的第二种写法-->
    <typeAliases>
        <package name="entity"></package>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--数据源连接参数：-->
            <dataSource type="POOLED">
                <!--驱动字符串-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接字符串-->
                <property name="url" value="${jdbc.url}"/>
                <!--用户名-->
                <property name="username" value="${jdbc.username}"/>
                <!--密码-->
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="dao/IBookDao.xml"/>
        <mapper resource="dao/IDeptDao.xml"/>
        <mapper resource="dao/IEmpDao.xml"/>
        <mapper resource="dao/ITeacherDao.xml"/>
        <mapper resource="dao/ICategoryDao.xml"/>
    </mappers>
</configuration>