<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

        <bean id="car" class="demo06.Car">
            <property name="color" value="红色"></property>
            <property name="brand" value="布加迪"></property>
        </bean>
        <bean id="littleCar" class="demo06.LittleCar">
            <property name="color" value="红色"></property>
            <property name="brand" value="布加迪"></property>
        </bean>
        <bean id="student" class="demo06.Student" autowire="byName">
            <property name="name" value="小明"></property>
            <property name="age" value="12"></property>
        </bean>
</beans>