<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置数据源-->
    <bean id="dateSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--识别到jdbc.properties-->
    <!--配置1-->
    <!--<context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>-->
    <!--配置2-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"></property>
    </bean>
    <!--配置Dao-->
    <bean id="accountDao" class="demo22tx.dao.AccountDaoImpl">
        <property name="dataSource" ref="dateSource"></property>
    </bean>
    <bean id="stockDao" class="demo22tx.dao.StockDaoImpl">
        <property name="dataSource" ref="dateSource"></property>
    </bean>
    <!--service id-->
    <bean id="stockService" class="demo22tx.service.StockServiceImpl">
        <property name="accountDao" ref="accountDao"></property>
        <property name="stockDao" ref="stockDao"></property>
    </bean>
    <!--事务-->
    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dateSource"></property>
    </bean>
    <!--事务代理工厂bean  方式一-->
    <!--<bean id="stockServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">-->
    <!--<property name="transactionManager" ref="transactionManager"></property>-->
    <!--<property name="target" ref="stockService"></property>-->
    <!--<property name="transactionAttributes">-->
        <!--<props>-->
            <!--<prop key="buyStock">ISOLATION_DEFAULT,PROPAGATION_REQUIRED</prop>-->
        <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--事务代理工厂bean  方式二-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>-->
    <!--事务代理工厂bean  方式三-->
    <tx:advice id="stockAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="buyStock" isolation="DEFAULT" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="mypointcut" expression="execution(* demo22tx.service.*.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="stockAdvice" pointcut-ref="mypointcut"></aop:advisor>
    </aop:config>
</beans>