<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="beforeAdvice" class="demo.BeforeAdvice"></bean>
    <!--配置后置增强-->
    <!--<bean id="afterAdvice" class="demo.AfterAdvicce"></bean>-->
    <bean id="service" class="demo.SomeServiceImpl"></bean>

    <!--有错的-->
    <!--<bean id="advisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" value="beforeAdvice"></property>
        <property name="pattern" value=".*do.*"></property>
    </bean>-->

    <bean id="advisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="beforeAdvice"></property>
        <property name="pattern" value=".*do.*"></property>
    </bean>

    <bean id="proxyService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="service"></property>
        <property name="interceptorNames" value="advisor"></property>
    </bean>

</beans>